/* Header starts */

header{
    background-color: #3b5998;
    padding: 0 12% 0;
}

#logo{
    font-weight: 600;
}

.navbar #login{
    background-color: #3a65c2;
    color: white;
    border: 1pt solid black;
    border-radius: 0;
    width: 50px;
    font-size: 0.75em;
    padding: 2px;
}

#login:hover{
    background-color: #2e2eaf;
}

.navbar form .form-control{
    padding: 5px;
    max-width: 150px;
    min-height: 20px;
}

.navbar form .form-control::placeholder{
    font-size: 0.75em;
}

/* Header ends */


/* Main content starts */

/* Map side starts */

body{
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(white, #D3D8E8);
    background-image: linear-gradient(white, rgb(211, 216, 232));
}

#map{
    padding: 40px 0 0 14.5%;
}

.row #map h3{
    font-weight: bold;
    font-size: 1.3em;
}

#map a img{
    width: 100%;
    max-height: 200px;
}

/* Map side ends */

/* Form side starts */

#head{
    font-size: 2em;
    font-weight: 800;
}

#log-in-form h3{
    line-height: 25px;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}

input{
    max-height: 20px;
    width: 200px;
}

.form-control{
    border-radius: 0;
}

#log-in-form{
    padding: 27px 15% 0 6%;
}

#log-in-form .form-row .form-control{
    max-width: 300px;
    min-height: 40px;
}

#log-in-form .form-control{
    min-height: 40px;
    margin-bottom: 10px;
}

::placeholder{
    font-size: 1em;
    color: #b3b3b3 !important;
    font-weight: 600;
}

.form-group #newpass{
    margin-bottom: 20px;
}

.custom-select{
    max-height: 25px;
    border-radius: 0;
    margin: 5px;
    padding: 2px;
}

#log-in-form .form-control, .custom-select{
    border-radius: 0.3em;
}

.form-group{
    margin-bottom: 0;
}

#log-in-form label{
    font-weight: 600;
    line-height: normal;
    color: #929191;
}

select + .custom-select, #date{
    font-size: 0.8em;
    border-radius: 0;
}

.main .row #log-in-form #head{
    font-weight: bolder;
}

.main .row #log-in-form h3{
    font-weight: 500;
}

::placeholder{
    font-weight: 400;
}

[type^="radio"] {
    display: inline;
    margin: 0;
    margin-right: 10px;
    position: static;
    width: 15px;
    min-height: 13px;
}

[for^="gender"]{
    color: rgb(0, 0, 0) !important;
    font-weight: 500 !important;
    font-size: 1em !important;
}

.form-check{
    margin-top: 6px;
    position: relative;
    left: 10px;
    margin-bottom: 12px;
}

#terms{
    color: #5f5f5f;
    font-size: 0.67em;
    font-weight: 500;
    line-height: 1.25em;
}

#log-in-form button{
    width: 200px;
    height: 40px;
    margin: 7px 0 7px;
    font-size: 1.20em;
    letter-spacing: 1.2px;
    background-color: #479260;
}

#log-in-form button:hover{
    background-color: rgb(17, 131, 17);
}

/* Form side ends */

#create{
    margin-top: 18px;
    font-size: 0.75em;
}

/* Main body ends */